.map {
    width: 100%;
    height: 100vh;
    position: absolute;
    direction: ltr;
}
#popup-container {
    width: 200px;
    height: 60px;
    background: white;
    border: 2px solid black;
}
#popup{
    color: green;
}